*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #454545;
  color: #e4fde1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #432929;
}

.navbar a:hover {
  color: #db5921;
  transition: ease-in 0.25s;
}

.links-container {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  justify-content: flex-end;
  list-style: none;
}

.links-container a {
  font-size: 2.5vw;
  text-decoration: none;
  color: #e4fde1;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 900;
  padding: 5.2rem 0 1rem 0;
  color: #db5921;
}

section {
  padding-top: 0.4rem;
}

.divider {
  width: 3rem;
  border: 1px solid #ffd700;
  margin: 1.1rem auto;
}

section h2 {
  text-align: center;
  font-size: clamp(1.75rem, 2.5vw, 2.25rem);
  padding: 2rem 0 0.5rem 0;
}

.card-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}

.player-card {
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.player-card img {
  width: 100%;
  height: auto;
  max-height: 22rem;
}

@media only screen and (max-width: 600px) {
  .player-card p {
    font-size: 1.5rem;
  }
  .links-container a {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .links-container {
    gap: 4rem;
    padding-right: 2rem;
  }
}
